.body {
    margin: 0 auto; 
    max-width: 600px; 
  
    padding-left: 195px;
    padding-top: 20px;
  }
  
  .login_center_title {
      text-align: center;
      padding-top: 75px;
      font-size: 30px;
      color: white;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login_container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px;
    width: 35%; /* Adjust this as needed */
    height: 80%;
  }
  
  .login_form_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: 10px;
  }
  
  .login_form_row label {
    text-align: left;
    width: 100%; /* Adjust this as needed */
  }
  
  .login_form_row input {
    width: 100%; /* Adjust this as needed */
  }
  
  .login_form button {
    background-color: transparent;
    margin: 8px ;
    margin-left: 8px;
    padding: 8px;
    background-color: #141414;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login_form button[type="button"] {
    margin-left: 10px;
  }
  
  .login_form button[type="submit"] {
    margin-top: 8px;
    margin-left: 8px;
    padding: 8px;
    background-color: #141414;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .login_button_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cancel_login {
    border-radius: 10px;
    background: #141414;
  }
  .login_bg {
    background-image: url("../assets/images/blockchainBG.webp");
    height: 800px;
    overflow: hidden;
    object-fit: fill;
  }